[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyyaml = "*"
pystray = "*"
Pillow = "*"
markdown-it-py = "*"
mdit-py-plugins = "*"
watchdog = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pyinstaller = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.12"
