[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyyaml = "*"
pystray = "*"
Pillow = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pyinstaller = "*"
build = "*"
twine = "*"

[requires]
python_full_version = ">=3.12"
